@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Default CSS  XSMALL SCREEN (IPHONE)*/

html {
	scroll-behavior: smooth;
}



* {
	border: none;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	line-height: 1.2;
	font-family: "Montserrat", sans-serif;
}


a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

body {
	max-width: 100%;
}

.separator {
	margin: 0.5rem auto;
	width: 8.5rem;
}

.btn {
	border: 0.2rem solid #ffffff;
	border-top: none;
	border-bottom: none;
	background-color: transparent;
	padding: 0.6rem 2rem;
	color: #ffffff;
	font-size: 0.7rem;
	font-weight: 600;
}



main .heading {
	border: 0.4rem solid #000000;
	padding: 1rem;
	margin: 1rem auto;
}
main .heading h2 {
	font-size: 0.8rem;
	letter-spacing: 0.3rem;
	font-weight: bold;
	text-align: center;
}


/* NAV SECTION  CSS */
.nav-section {
	background-color: #000000;
	position: sticky;
	top: 0;
	font-size: 0.75rem;
	font-weight: 600;
	z-index: 3;
}

.nav-section .navbar {
	padding: 0.5rem;
	position: relative;
	display: flex;
	flex-flow: row;
	gap: 10rem;
}

.nav-section .navbar .navbar-brand .logo-white,
.nav-section .navbar .navbar-brand .logo-black{
	width: 3rem;
}
.nav-section .navbar .navbar-brand .logo-black{
	display: none;
}

.nav-section .navbar .nav-item {
	position: absolute;
	top: 3.4rem;
	left: 0;
	text-align: center;
	width: 100%;
	background-color: #000000d2;
	box-shadow: 0.02rem 0.1rem 0.5rem 0.02rem #686868;
	display: none;
	transition: .3s ease all;
}

.nav-section .navbar .nav-item ul {
	display: flex;
	flex-flow: column wrap;
}
.nav-section .navbar .nav-item ul li {
	padding: 1.2rem 0;
	width: 4rem;
}
.nav-section .navbar .nav-item ul li:hover {
	border-bottom: 0.1rem solid #ffffff;
	transition: .3s ease linear;
}
.nav-section .navbar .nav-item ul li a{
	color: #ffffff;
}

.toggle-btn {
	background-color: transparent;
}

.toggle-btn > .toggle-icon-close {
	display: none;
}

.toggle-btn:hover > .toggle-icon-close {
	display: block;
}

.toggle-btn:hover > .toggle-icon-ham {
	display: none;
}

.toggle-btn:hover + .nav-item {
	cursor: pointer;
	display: block;
}

.toggle-btn:hover + .nav-item {
	cursor: pointer;
	display: block;
}

.contact-btn {
	width: 100%;
	color: #000000;
	background-color: #ffffff;
	padding: 1rem 0;
	cursor: pointer;
}
.contact-btn a {
	width: inherit;
	color: #000000;
	padding: 1rem;
	cursor: pointer;
}


/* HERO SECTION CSS  */

main .hero-section {
	max-width: 100%;
	background-color: #000000;
	background-image: url('../images/Background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 92vh;
	color: #ffffff;
	text-align: center;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	padding-top: 2rem;
	overflow: hidden;
}

main .hero-section .info {
	display: none;
	flex-flow: column;
	justify-content: center;
	align-content: center;
}


main .hero-section .hero-info p{
	font-family: "Advent Pro", sans-serif; 
	font-size: 1.2rem;
}

main .hero-section .hero-info h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
}

.hero-section .social_icon {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
	margin-top: 0.5rem;
}

.hero-section .social_icon a i{
	color: #ffffff;
	font-size: 1.6rem;
}

.info-lg {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 1rem;
	overflow: hidden;
	width: 100%;
	margin-top: 10rem;
}

.info-lg .profile-img {
display: none;
width: 28rem;
}



main .hero-bg {
	max-width: 100%;
	position: absolute;
	top: 0;
	z-index: 0;
	overflow: hidden;
	height: 101vh;
	background-color: #000000;
}

main .hero-bg .profile-img {
	width: 100%;
	position: relative;
	top: 6.5rem;
}
main .hero-bg .profile {
	background-image: url('../images/Rectangle.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	width: 100%;
	height: 12.8rem;
	position: absolute;
	top: 32rem;
	display: flex;
	flex-flow: row;
	align-content: baseline;
	text-align: left;
	padding: 1.2rem;
	padding-top: 5.2rem;
	gap: 1.5rem;
}
main .hero-bg .profile .profile-info p {
	font-size: 1.2rem;
	margin-bottom: 0.2rem;
}
main .hero-bg .profile .profile-info h3 {
	font-size: 1.6rem;
	margin-bottom: 0.2rem;
}
main .hero-bg .profile .profile-info .desc {
	font-size: 0.65rem;
}
main .hero-bg .profile .profile_icon {
	display: flex;
	flex-flow: column;
	gap: 1rem;
	margin-top: -2.5rem;
}

main .hero-bg .profile .profile_icon a i {
	font-size: 1.5rem;
	color: #e2dfdf;
}



/* INFO SECTION  */

main .info-section {
	background-color: #000000e1;
	background-image: url('../images/ITB.png');
	background-repeat: no-repeat;
	/* background-position: center; */
	background-position: 50% 10%;
	background-size: 80%;
	color: #ffffff;
	text-align: center;
	padding: 2rem;
}

main .info-section h2 {
	padding: 1rem 0;
	letter-spacing: 0.3rem;
}
main .info-section p {
	font-size: 0.8rem;
	text-align: justify;
	line-height: 1.2rem;
}
main .info-section .btn {
	margin-top: 2rem;
	padding: 0.4rem 2rem;
}


/* ABOUT SECTION  */
main .about-section {
	background-image: radial-gradient(#ffffff, #fafafa);
	background-image: radial-gradient(#ffffff, #e2dfdf);			
	text-align: center;
	padding: 2rem;
	padding-bottom: 0;
	margin-bottom: 0;
}


main .about-section .heading {
	width: 70%;
}

main .about-section p {
	font-size: 0.7rem;
	text-align: justify;
	line-height: 1.1rem;
	margin-bottom: 1rem;
}


main .about-section .explore {
	border: 0.2rem solid #000000;
	border-top: none;
	border-bottom: none;
	color: #000000;
	margin: 2rem auto;
}

main .about-section .separator {
	margin: 3rem auto;
}



/* ABILITY SECTION CSS  */
main .ability_heading {
	display: flex;
	flex-flow: row;
	justify-content: start;
	align-content: center;
	margin: 0.5rem 0;
	text-align: left;
}

main .ability_heading .ability_icon {
	margin: 0;
	width: 2.2rem;
}

main .ability_heading h3.title {
	text-align: left;
	margin: 1rem 0;
	margin-left: -0.5rem;
	font-size: 1.025rem;
}

main .ability_heading h3 {
	text-align: left;
	margin: 1rem 0;
}

main .about-section .abilities_setion .abilities p {
	margin-left: 2rem;
}


main .skill-section {
	/* background-image: radial-gradient(#ffffff, #fafafa); */
	background-image: radial-gradient(#ffffff, #e2dfdf);			
	text-align: center;
	padding: 1rem 2rem;
	padding-bottom: 4rem;
}

main .skill-section .heading {
	width: 50%;
	margin: 3rem auto;
}

main .skill-section .row .title {
	margin: 4rem auto;
	letter-spacing: 0.3rem;
}
main .skill-section .row .skills {
	display: flex;
	flex-flow: column;
	gap: 2rem;
}
main .skill-section .row .skills .skill p{
	font-size: 1.2rem;
	letter-spacing: 0.3rem;
	margin: 1rem auto;
}


/* PORTFOLIO SECTION  */
main .portfolio-section {
	max-width: 100%;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
}
main .portfolio-section .top {
	background-color: #000000;
	background-image: url('../images/header-sm.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 1rem;
	max-width: inherit;
}
main .portfolio-section .top .heading {
	width: 60%;
 }
main .portfolio-section .portfolios .portfolio-btns {
	background-color: #1a1a1a;
	padding: 1.5rem;
}
main .portfolio-section .portfolios .portfolio-btns .btn-opt {
	border: none;
	border-bottom: 0.18rem solid #7c7c7c;
	padding: 0.5rem 2rem;
	background: transparent;
	width: 50%;
	color: #7c7c7c;
	margin-left: -0.4rem;
	font-size: 0.8rem;
	/* margin: 0 auto; */
}
main .portfolio-section .portfolios .portfolio-btns .btn-opt:hover {
	border-bottom: 0.18rem solid #ffffff;
	color: #ffffff;
}

main .portfolio-section .portfolios .gallery {
	display: flex;
	flex-flow: column;
}
main .portfolio-section .portfolios .gallery .pic {
	background-color: #000000c7;
	color: #ffffff;
	width: 100%;
	height: 16rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;

}
main .portfolio-section .portfolios .gallery .pic .info{
	display: flex;
	flex-flow: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	text-align: center;

}

main .portfolio-section .portfolios .gallery .pic-2 .info{
    display: none;
  }

main .portfolio-section .portfolios .gallery .pic-1 {
	background-image: url('../images/Project-1.png');
}
main .portfolio-section .portfolios .gallery .pic-2 {
	background-image: url('../images/Project-2.png');
}
main .portfolio-section .portfolios .gallery .pic-3 {
	background-image: url('../images/Project-3.png');
}
main .portfolio-section .portfolios .gallery .pic-4 {
	background-image: url('../images/Project-4.png');
}
main .portfolio-section .portfolios .gallery .pic-5 {
	background-image: url('../images/Project-5.png');
}
main .portfolio-section .portfolios .gallery .pic-6 {
	background-image: url('../images/Project-1.png');
}

main .portfolio-section .portfolios .gallery .pic p {
	font-size: 0.65rem;
 }

 main .portfolio-section .bottom {
	max-width: 100%;
	padding: 1rem;
	font-size: 0.8rem;
 }

 /* CONTACT SECTION CSS  */

 main .contact-section {
	display: flex;
	flex-flow: column;
	justify-content: center;
	background-image: radial-gradient(#ffffff, #e2dfdf);	
	padding: 1rem;
	text-align: center;
	gap: 2rem;
 }

 main .contact-section .heading {
	 width: 60%;
	 margin: 2rem auto;
	}
	
main .contact-section p { 
	font-size: 0.8rem;
}

main .contact-section form{
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 2.2rem;
	width: 100%;
	padding: 2rem;
}

main .contact-section form textarea,
main .contact-section form input{
	padding: 0.6rem;
	width: 100%;
	background-color: transparent;
	border-bottom: 0.3rem solid #000000;
	border-left: 0.3rem solid #000000;
	font-size: 0.6rem;
	font-weight: 700;
	color: #1a1a1a;
}

main .contact-section .btn-submit{
	border: 0.2rem solid #000000;
	border-top: none;
	border-bottom: none;
	color: #000000;
	margin: 2rem auto;
}

.footer-section {
	background-color: #1a1a1a;
	color: #ffffff;
	padding: 1rem;
	display: flex;
	flex-flow: column;
	text-align: center;
}

.footer-section a {
	color: #e2dfdf;
}
.footer-section p {
	font-size: 0.8rem;
	margin-top: 0.4rem;
}

.footer-section .footer-socials {
	display: flex;
	gap: 2rem;
	margin: 2rem auto;
}

.footer-section .footer-socials span a img{
	width: 1.4rem;
}

.footer-section .copyright {
	padding-right: 2rem;
	text-align: left;
	font-size: 0.9rem;
}